<div class="main-content">
  <div class="container">
      <div class="row">
          <div class="col-md-9 mx-auto">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title ">My Wallet</h4>
                      <p class="card-category"> Your Wallet is our wallet</p>
                  </div>
                  <div *ngIf="WalletNotcreated" class="card-body">
                     <h3> You currently not have your Wallet created.</h3><br>
                     <h4>Please create a Wallet.</h4>
                     <button mat-raised-button color="warn"  (click)="CreateWallet()" >Create Wallet</button> 
                  </div>

                  <div *ngIf="createWallet" class="card-body">
                    <h3 > Let's create a Wallet</h3>

                    <form>
                        <div class="row">
                            <div class="col-md-6">
                               
                                <mat-form-field >
                                  <input matInput placeholder="Wallet Name"  [(ngModel)]="myWallet.walletName" name="WalletName">
                                </mat-form-field>
                            </div>
                            
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                               
                                <mat-form-field>
                                  <input matInput placeholder="Wallet balance" type="text" [(ngModel)]="myWallet.walletAmount" name="WBalance">
                                </mat-form-field>
                            </div>                         
                        </div><br>
                        <div class="row">
                            <div class="col-md-6">
                                <button (click)="OnWalletCreated()"  mat-raised-button color="warn">Save</button>
                                <button (click)="OnWalletNotCreated()" class="mx-5" mat-raised-button color="warn">Cancel</button>
                            </div>                         
                        </div>
                    </form>  
                </div>

                <div *ngIf="Walletcreated" class="card-body">
                    <h3 > {{myWallet.walletName}}'s Wallet </h3>
                    <h2>{{myWallet.walletAmount}}</h2>
                    <div class="progress" style="width:50%">
                        <div class="progress-bar bg-danger" style="width:10%"></div>
                     </div>
                    <button mat-raised-button mat-button routerLink='/transactions' color="warn" class="mt-5" >View Transaction</button>
                     <button mat-raised-button color="warn" class="mt-5 float-right" routerLink='/Report' >View Report</button> 

              </div>
          </div>
        </div>
  </div>
</div>
